@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.btn {
  @include btn(176px, 42px, 3px, $primary_color);

  color: white;
  font-size: 14px;
  font-weight: 300;
  // padding: 12px 45px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $four_color;
    border: 1px solid $four_color;
    transition: background-color 300ms;
  }
}
